<h4 nz-typography>Aulong Community Service Centre</h4>
<nz-divider></nz-divider>

<nz-descriptions nzLayout="vertical" nzBordered [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }">
  <nz-descriptions-item nzTitle="Address">
    <p nz-typography>306, Jalan Taman Pertama 7, Taman Pertama, 34000 Taiping, Perak.</p>
    <div class="mb-2">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1181.929146979928!2d100.72163444399717!3d4.852152166286169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31caaf17cb91d5f3%3A0xbab9e70b8f1e5c24!2sPusat%20Khidmat%20Ahli%20Parlimen%20Taiping%20%26%20Adun%20Aulong!5e0!3m2!1sen!2smy!4v1621451882550!5m2!1sen!2smy"
        width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy">
      </iframe>
    </div>
  </nz-descriptions-item>

  <nz-descriptions-item nzTitle="Working Hour">
    <p nz-typography>MON - FRI : 9:15 AM - 4:45 PM</p>
    <p nz-typography>Our centre is closed on Saturday, Sunday and public holiday.</p>
  </nz-descriptions-item>

  <nz-descriptions-item nzTitle="Contact Number">
    <span>05-805 4564</span>
  </nz-descriptions-item>
</nz-descriptions>
