<nz-modal [nzVisible]="isVisible"
          nzTitle="Change Appointment's Datetime"
          (nzOnCancel)="cancelChangeDatetime()">
  <div *nzModalContent>
    <form nz-form [formGroup]="changeAppointmentDatetimeForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">Scheduled Datetime</nz-form-label>
        <nz-form-control [nzSpan]="24">
          {{ (appointment?.startDatetime | date: 'short') || "-" }}
          - {{ (appointment?.endDatetime | date: 'short') || "-" }}
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold" nzRequired>Date</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="dateErrorTpl">
          <nz-date-picker formControlName="date" (ngModelChange)="initTimeSlotDropdownChoice()"
                          [nzDisabledDate]="disabledDate"></nz-date-picker>
          <ng-template #dateErrorTpl let-control>
            <div *ngIf="control.invalid && (control.touched || control.dirty)">
              <div *ngIf="control.errors?.required">
                Please select a date!
              </div>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold" nzRequired>Time</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="timeErrorTpl">
          <nz-select nzAllowClear nzShowSearch formControlName="time"
                     [nzPlaceHolder]="changeAppointmentDatetimeForm.controls['date'].value ? 'Please select a timeslot' : 'Please select a date first'">
            <nz-option *ngFor="let choice of timeslotList" [nzLabel]="choice?.text" [nzValue]="choice?.value"
                       [nzDisabled]="choice?.disabled"></nz-option>
          </nz-select>
          <ng-template #timeErrorTpl let-control>
            <div *ngIf="control.invalid && (control.touched || control.dirty)">
              <div *ngIf="control.errors?.required">
                Please select a time!
              </div>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelChangeDatetime()">Cancel</button>
    <button nz-button nzType="primary" [disabled]="!changeAppointmentDatetimeForm.valid" (click)="changeDatetime()">
      Update
    </button>
  </div>
</nz-modal>
