<h4>Assistance Request Detail</h4>
<nz-divider></nz-divider>

<nz-space>
  <button nz-button nz-dropdown *nzSpaceItem [nzDropdownMenu]="menu">
    Actions
    <i nz-icon nzType="down"></i>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item *ngIf="assistanceRecord?.status ==='pending' && isAdmin">
        <a (click)="acceptRequest(assistanceRecord?.assistanceId)">Accept Request</a>
      </li>
      <li nz-menu-item *ngIf="(isAdmin && assistanceRecord?.status !== 'pending') || (assistanceRecord?.status === 'pending' && !isAdmin)">
        <a (click)="onEditMode()">Update Request</a>
      </li>
      <li nz-menu-item *ngIf="assistanceRecord?.status === 'pending' && isAdmin">
        <a (click)="openRejectAssistanceModal()">Reject Request</a>
      </li>
      <li nz-menu-item *ngIf="assistanceRecord?.status === 'pending' && !isAdmin">
        <a nz-popconfirm
           nzPopconfirmTitle="Are you sure you want to cancel this request?"
           (nzOnConfirm)="deleteRec(assistanceRecord?.assistanceId)">Cancel Request</a>
      </li>
      <li nz-menu-item>
        <a (click)="openCommentDrawer()">View comment</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</nz-space>

<br><br>

<nz-spin [nzSpinning]="isLoading">
  <form [formGroup]="form">
    <nz-descriptions nzBordered [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 1, xs: 1 }">
      <nz-descriptions-item nzTitle="Request ID">
        {{assistanceRecord?.assistanceId || "-"}}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Category">
        <ng-container *ngIf="nzEditForAdmin; else displayCategoryTpl">
          <nz-form-control [nzSpan]="24">
            <nz-select class="w-100" formControlName="categoryId">
              <nz-option *ngFor="let choice of CATEGORY_DROPDOWN" [nzLabel]="choice?.text" [nzValue]="choice?.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </ng-container>
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Community User Name">
        <a *ngIf="assistanceRecord?.username; else dashTpl"
           nz-typography
           [routerLink]="['/profile']"
           [queryParams]="{username: assistanceRecord?.username}"
        >{{ assistanceRecord?.userFullName }}
        </a>
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Title">
        <ng-container *ngIf="nzEditForCommunityUser; else displayTitleTpl">
          <nz-form-control [nzSpan]="24" [nzErrorTip]="titleErrorTpl">
            <input nz-input type="text" formControlName="title">
            <ng-template #titleErrorTpl let-control>
              <div *ngIf="control.invalid && (control.touched || control.dirty)">
                <div *ngIf="control.errors?.required">Please input title!</div>
              </div>
            </ng-template>
          </nz-form-control>
        </ng-container>
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Description">
        <ng-container *ngIf="nzEditForCommunityUser; else displayDescTpl">
          <nz-form-control [nzSpan]="24" [nzErrorTip]="descErrorTpl">
            <textarea nz-input [rows]="4" formControlName="description"></textarea>
            <ng-template #descErrorTpl let-control>
              <div *ngIf="control.invalid && (control.dirty || control.touched)">
                <div *ngIf="control.errors?.required">
                  Please input assistance description!
                </div>
              </div>
            </ng-template>
          </nz-form-control>
        </ng-container>
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Status">
        <ng-container *ngIf="nzEditForAdmin; else displayStatusTpl">
          <nz-form-control [nzSpan]="24" [nzErrorTip]="statusErrorTpl">
            <nz-select class="w-100" formControlName="status">
              <nz-option *ngFor="let choice of ASSISTANCE_REQUEST_STATUS_DROPDOWN" [nzLabel]="choice.text" [nzValue]="choice.value"></nz-option>
            </nz-select>
            <ng-template #statusErrorTpl let-control>
              <div *ngIf="control.invalid && (control.dirty || control.touched)">
                <div *ngIf="control.errors?.required">Please select a status!</div>
              </div>
            </ng-template>
          </nz-form-control>
        </ng-container>
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Admin-In-Charge">
        <ng-container *ngIf="nzEditForAdmin && isSuperAdmin; else displayPicTpl">
          <nz-form-control [nzSpan]="24" [nzErrorTip]="picErrorTpl">
            <nz-select class="w-100" nzShowSearch [nzPlaceHolder]="'Choose an admin'" formControlName="personInCharge">
              <nz-option *ngFor="let choice of adminChoices" [nzValue]="choice?.value"
                         [nzLabel]="choice?.text"></nz-option>
            </nz-select>
            <ng-template #picErrorTpl let-control>
              <div *ngIf="control.invalid && (control.dirty || control.touched)">
                <div *ngIf="control.errors?.required">Please select a person in-charge!</div>
              </div>
            </ng-template>
          </nz-form-control>
        </ng-container>
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Created Date">
        {{(assistanceRecord?.createdDate | date: DATE_FORMAT) || "-"}}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Last Updated Date">
        {{(assistanceRecord?.lastUpdatedDate | date: DATE_FORMAT) || "-"}}
      </nz-descriptions-item>
    </nz-descriptions>

    <nz-form-item class="mb-2" *ngIf="nzEditForAdmin || nzEditForCommunityUser">
      <nz-form-label [nzSpan]="24" nzNoColon></nz-form-label>
      <nz-form-control [nzSpan]="24">
        <button nz-button nzType="primary" class="me-2 mb-2"
                [disabled]="(!form.touched && !form.dirty) || !form.valid" (click)="submit()">Update
        </button>
        <button nz-button nzType="default" class="me-2 mb-2" (click)="cancelEdit()">Cancel</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-spin>

<nz-drawer *ngIf="commentDrawerIsVisible"
           [(nzVisible)]="commentDrawerIsVisible"
           [nzTitle]="'Follow-up Comment'"
           [nzWidth]="320"
           (nzOnClose)="closeCommentDrawer()">
  <ng-container *nzDrawerContent>
    <app-assistance-comment [assistanceId]="assistanceId"></app-assistance-comment>
  </ng-container>
</nz-drawer>

<nz-modal *ngIf="rejectRequestModalIsVisible"
          [(nzVisible)]="rejectRequestModalIsVisible"
          [nzTitle]="'Reject Assistance Request'"
          (nzOnOk)="submitRejectForm()"
          (nzOnCancel)="closeRejectAssistanceModal()">
  <ng-container *nzModalContent>
    <form [formGroup]="rejectForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">Reason</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="reasonErrorTpl">
          <textarea nz-input [rows]="4" formControlName="reason"></textarea>
          <ng-template #reasonErrorTpl let-control>
            <div *ngIf="control.invalid && (control.dirty || control.touched)">
              <div *ngIf="control.errors?.required">Please enter a reason!</div>
            </div>
          </ng-template>
        </nz-form-control>
        <small class="fst-italic"><span style="color: red">*</span> Will be added as a new comment</small>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<ng-template #displayTitleTpl>
  {{ assistanceRecord?.title || "-" }}
</ng-template>

<ng-template #displayDescTpl>
  {{ assistanceRecord?.description || "-" }}
</ng-template>

<ng-template #displayStatusTpl>
  <ng-container [ngSwitch]="assistanceRecord?.status">
    <nz-tag *ngSwitchCase="'pending'" nzColor="gold">Pending</nz-tag>
    <nz-tag *ngSwitchCase="'processing'" nzColor="blue">Processing</nz-tag>
    <nz-tag *ngSwitchCase="'completed'" nzColor="green">Completed</nz-tag>
    <nz-tag *ngSwitchCase="'rejected'" nzColor="magenta">Rejected</nz-tag>
    <nz-tag *ngSwitchCase="'cancelled'" nzColor="magenta">Cancelled</nz-tag>
    <span *ngSwitchDefault>-</span>
  </ng-container>
</ng-template>

<ng-template #displayPicTpl>
  <span>{{ assistanceRecord?.adminFullName || "-" }}</span>
</ng-template>

<ng-template #displayCategoryTpl>
  {{ assistanceRecord?.categoryName || "-" }}
</ng-template>

<ng-template #dashTpl>-</ng-template>
