<nz-layout class="layout">
  <nz-drawer [nzVisible]="!isCollapsed"
             [nzPlacement]="'left'"
             (nzOnClose)="minimizeSidebar()"
             [nzBodyStyle]="sidebarStyle"
             [nzCloseIcon]="null">
  <ng-container *nzDrawerContent>
    <div class="sidebar-logo" (click)="minimizeSidebar()">
      <a [routerLink]="''">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>{{appName}}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter *ngIf="!user" routerLink="/login" (click)="minimizeSidebar()">
        <i nz-icon nzType="login"></i>
        <a nz-button nzType="link">Login</a>
      </li>

      <li nz-menu-item nzMatchRouter *ngIf="!user" routerLink="/signup" (click)="minimizeSidebar()">
        <i nz-icon nzType="user-add"></i>
        <a nz-button nzType="link">Sign up</a>
      </li>

      <li nz-menu-item nzMatchRouter *ngIf="isAdmin" routerLink="/community-user" (click)="minimizeSidebar()">
        <i nz-icon nzType="user"></i>
        <a nz-button nzType="link">User</a>
      </li>

      <li nz-menu-item nzMatchRouter *ngIf="isAdmin" routerLink="/admin-user" (click)="minimizeSidebar()">
        <i nz-icon nzType="user"></i>
        <a nz-button nzType="link">Admin</a>
      </li>

      <li nz-menu-item nzMatchRouter *ngIf="user" [routerLink]="'/profile'" [queryParams]="isAdmin ? {adminUsername: user.username} : {username: user.username}"
          (click)="minimizeSidebar()">
        <i nz-icon nzType="profile"></i>
        <a nz-button nzType="link">Profile</a>
      </li>

      <li nz-menu-item nzMatchRouter *ngIf="user" [routerLink]="'/assistance'"
          (click)="minimizeSidebar()">
        <i nz-icon nzType="alert"></i>
        <a nz-button nzType="link">Assistance</a>
      </li>

      <li nz-menu-item nzMatchRouter *ngIf="user" routerLink="/appointment" (click)="minimizeSidebar()">
        <i nz-icon nzType="file-search"></i>
        <a nz-button nzType="link">Appointment</a>
      </li>

      <li nz-menu-item nzMatchRouter routerLink="/about" (click)="minimizeSidebar()">
        <i nz-icon nzType="info"></i>
        <a nz-button nzType="link">About Us</a>
      </li>

      <li nz-menu-item nzMatchRouter *ngIf="user" routerLink="/settings" (click)="minimizeSidebar()">
        <i nz-icon nzType="setting"></i>
        <a nz-button nzType="link">Settings</a>
      </li>

      <li nz-menu-item nzMatchRouter *ngIf="user" (click)="logout()">
        <i nz-icon nzType="logout"></i>
        <a nz-button nzType="link">Logout</a>
      </li>
    </ul>
  </ng-container>
  </nz-drawer>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Community Welfare Support System for Aulong Community Service Centre ©{{year}}</nz-footer>
  </nz-layout>
</nz-layout>
