<nz-page-header class="mb-4" (nzBack)="onBack()" nzBackIcon>
  <nz-page-header-title>
    {{userProfile ? userProfile.personalDetail.fullName + "'s" : "User"}} Profile
  </nz-page-header-title>
</nz-page-header>

<form [formGroup]="form">

  <nz-steps nzProgressDot [nzCurrent]="stepIndex" (nzIndexChange)="movePage($event)">
    <nz-step nzTitle="Personal Details"></nz-step>
    <nz-step nzTitle="Address"></nz-step>
    <nz-step nzTitle="Occupation"></nz-step>
    <nz-step nzTitle="Health"></nz-step>
  </nz-steps>

  <nz-divider></nz-divider>
  <app-signup-personal-detail-form [isSignUp]="false" [isVisible]="showPersonalDetailForm" formControlName="personalDetail"></app-signup-personal-detail-form>
  <app-signup-address-form [isVisible]="showAddressForm" formControlName="address"></app-signup-address-form>
  <app-signup-occupation-form [isVisible]="showOccupationForm" formControlName="occupation"></app-signup-occupation-form>
  <app-signup-health-form [isSignUp]="false" [isVisible]="showHealthForm" [parentDiseaseListFormValues]="form.get('health').value?.diseaseList"
                          formControlName="health"></app-signup-health-form>

  <nz-row>
    <nz-col [nzSpan]="8">
      <button nz-button nzType="primary" class="me-2" *ngIf="stepIndex !== 0" (click)="movePage(this.stepIndex - 1)">Previous</button>
    </nz-col>
    <nz-col [nzSpan]="8" class="text-center">
      <button *ngIf="stepIndex === 3" nz-button nzType="default" (click)="addDiseaseFormGroup()">Add Disease</button>
    </nz-col>
    <nz-col [nzSpan]="8">
      <button nz-button nzType="primary" class="float-end me-2" *ngIf="stepIndex !== 3" (click)="movePage(this.stepIndex + 1)">Next</button>
      <button nz-button nzType="primary" class="float-end" *ngIf="stepIndex === 3" (click)="submitForm()">Update Profile</button>
    </nz-col>
  </nz-row>

</form>
