<nz-alert nzShowIcon
          *ngIf="!isAdmin"
          nzType="info"
          nzMessage="Please select a meeting datetime to discuss in detail about the assistance requested with the admin."></nz-alert>

<form nz-form [formGroup]="form">
  <nz-form-item *ngIf="isAdmin">
    <nz-form-label [nzSpan]="24" class="fw-bold" nzRequired>Category ID</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="categoryErrorTpl">
      <nz-select nzShowSearch formControlName="categoryId">
        <nz-option *ngFor="let choice of CATEGORY_DROPDOWN" [nzValue]="choice?.value" [nzLabel]="choice?.text"></nz-option>
      </nz-select>
    </nz-form-control>
    <ng-template #categoryErrorTpl let-control>
      <ng-container *ngIf="control.hasError('required')">Please select a category!</ng-container>
    </ng-template>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" class="fw-bold" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="titleErrorTpl">
      <textarea rows="2" nz-input [maxlength]="200" formControlName="assistanceTitle"></textarea>
    </nz-form-control>
    <ng-template #titleErrorTpl let-control>
      <ng-container *ngIf="control.hasError('required')">Please enter title!</ng-container>
    </ng-template>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" class="fw-bold" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="descriptionErrorTpl">
      <textarea rows="8" nz-input formControlName="assistanceDescription"></textarea>
    </nz-form-control>
    <ng-template #descriptionErrorTpl let-control>
      <ng-container *ngIf="control.hasError('required')">Please enter description!</ng-container>
    </ng-template>
  </nz-form-item>

  <nz-form-item *ngIf="isAdmin">
    <nz-form-label [nzSpan]="24" class="fw-bold" nzRequired>Target Community User</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="descriptionErrorTpl">
      <nz-select nzShowSearch formControlName="username">
        <nz-option *ngFor="let choice of COMMUNITY_USER_DROPDOWN" [nzLabel]="choice?.text" [nzValue]="choice?.value"></nz-option>
      </nz-select>
    </nz-form-control>
    <ng-template #descriptionErrorTpl let-control>
      <ng-container *ngIf="control.hasError('required')">Please select a user!</ng-container>
    </ng-template>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" class="fw-bold" [nzRequired]="!isAdmin">Meeting Date</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="dateErrorTpl">
      <nz-date-picker formControlName="date" (ngModelChange)="initTimeSlotDropdownChoice()" [nzDisabledDate]="disabledDate"></nz-date-picker>
      <ng-template #dateErrorTpl let-control>
        <div *ngIf="control.invalid && (control.touched || control.dirty)">
          <div *ngIf="control.errors?.required">
            Please select a date!
          </div>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" class="fw-bold" [nzRequired]="!isAdmin">Meeting Time</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="timeErrorTpl">
      <nz-select nzAllowClear nzShowSearch formControlName="time" [nzPlaceHolder]="form.controls['date'].value ? 'Please select a timeslot' : 'Please select a date first'">
        <nz-option *ngFor="let choice of timeslotList" [nzLabel]="choice?.text" [nzValue]="choice?.value" [nzDisabled]="choice?.disabled"></nz-option>
      </nz-select>
      <ng-template #timeErrorTpl let-control>
        <div *ngIf="control.invalid && (control.touched || control.dirty)">
          <div *ngIf="control.errors?.required">
            Please select a time!
          </div>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
