<div *ngIf="adminProfile">
  <app-admin-profile [adminProfile]="adminProfile" [isLoading]="isLoading" [isSuperAdmin]="isSuperAdmin"
                     [isOwnerOfProfile]="isOwnerOfProfile"
                     (refreshEventEmitter)="refreshProfile($event)"></app-admin-profile>
</div>

<div *ngIf="userProfile">
  <app-user-profile [userProfile]="userProfile" [isLoading]="isLoading"
                    (refreshEventEmitter)="refreshProfile($event)"></app-user-profile>
</div>

<nz-result *ngIf="showErrorPage" nzStatus="404" nzTitle="404" [nzSubTitle]="errorPageSubtitle">
  <div nz-result-extra>
    <button nz-button nzType="primary" (click)="goBackPreviousPage()">Back</button>
  </div>
</nz-result>