<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzMd]="6" class="fw-bold" nzRequired>Date</nz-form-label>
    <nz-form-control [nzSm]="24" [nzMd]="17" [nzErrorTip]="dateErrorTpl">
      <nz-date-picker formControlName="date" [nzDisabledDate]="disabledDate"></nz-date-picker>
      <ng-template #dateErrorTpl let-control>
        <div *ngIf="control.invalid && (control.touched || control.dirty)">
          <div *ngIf="control.errors?.required">
            Please select a date!
          </div>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzMd]="6" class="fw-bold" nzRequired>Time</nz-form-label>
    <nz-form-control [nzSm]="24" [nzMd]="17" [nzErrorTip]="timeErrorTpl">
      <nz-time-picker formControlName="time" nzUse12Hours [nzFormat]="'hh:mm a'"></nz-time-picker>
      <ng-template #timeErrorTpl let-control>
        <div *ngIf="control.invalid && (control.touched || control.dirty)">
          <div *ngIf="control.errors?.required">
            Please select a time!
          </div>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="24" [nzMd]="6" class="fw-bold" nzRequired>Purpose</nz-form-label>
    <nz-form-control [nzSm]="24" [nzMd]="17" [nzErrorTip]="purposeErrorTpl">
      <textarea nz-input [maxlength]="200" [rows]="4" formControlName="purpose"></textarea>
      {{ form.controls['purpose'].value?.length || 0 }} / 200 characters
      <ng-template #purposeErrorTpl let-control>
        <div *ngIf="control.invalid && (control.touched || control.dirty)">
          <div *ngIf="control.errors?.required">
            Please state the purpose!
          </div>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="isAdmin; else userDropdownTpl">
    <nz-form-label [nzSm]="24" [nzMd]="6" class="fw-bold" nzRequired>User</nz-form-label>
    <nz-form-control [nzSm]="24" [nzMd]="17" [nzErrorTip]="userErrorTpl">
      <nz-select nzAllowClear nzShowSearch formControlName="username" nzPlaceHolder="Select user">
        <nz-option *ngFor="let choice of userChoice" [nzLabel]="choice?.text" [nzValue]="choice.value"></nz-option>
      </nz-select>
      <ng-template #userErrorTpl let-control>
        <div *ngIf="control.invalid && (control.touched || control.dirty)">
          <div *ngIf="control.errors?.required">
            Please select a user!
          </div>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <ng-template #userDropdownTpl>
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzMd]="6" class="fw-bold">Admin</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="17">
        <nz-select nzAllowClear nzShowSearch nzPlaceHolder="Select admin" formControlName="adminUsername">
          <nz-option *ngFor="let choice of adminChoice" [nzLabel]="choice?.text" [nzValue]="choice.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </ng-template>
</form>
