<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="24" class="fw-bold" nzRequired>Date</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="dateErrorTpl">
      <nz-date-picker formControlName="date" (ngModelChange)="initTimeSlotDropdownChoice()" [nzDisabledDate]="disabledDate"></nz-date-picker>
      <ng-template #dateErrorTpl let-control>
        <div *ngIf="control.invalid && (control.touched || control.dirty)">
          <div *ngIf="control.errors?.required">
            Please select a date!
          </div>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" class="fw-bold" nzRequired>Time</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="timeErrorTpl">
      <nz-select nzAllowClear nzShowSearch formControlName="time" [nzPlaceHolder]="form.controls['date'].value ? 'Please select a timeslot' : 'Please select a date first'">
        <nz-option *ngFor="let choice of timeslotList" [nzLabel]="choice?.text" [nzValue]="choice?.value" [nzDisabled]="choice?.disabled"></nz-option>
      </nz-select>
      <ng-template #timeErrorTpl let-control>
        <div *ngIf="control.invalid && (control.touched || control.dirty)">
          <div *ngIf="control.errors?.required">
            Please select a time!
          </div>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" class="fw-bold" nzRequired>Purpose</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="purposeErrorTpl">
      <textarea nz-input [maxlength]="200" [rows]="4" formControlName="purpose"></textarea>
      {{ form.controls['purpose'].value?.length || 0 }} / 200 characters
      <ng-template #purposeErrorTpl let-control>
        <div *ngIf="control.invalid && (control.touched || control.dirty)">
          <div *ngIf="control.errors?.required">
            Please state the purpose!
          </div>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="isAdmin">
    <nz-form-label [nzSpan]="24" class="fw-bold" nzRequired>User</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="userErrorTpl">
      <nz-select nzAllowClear nzShowSearch formControlName="username" nzPlaceHolder="Select user">
        <nz-option *ngFor="let choice of userChoice" [nzLabel]="choice?.text" [nzValue]="choice.value"></nz-option>
      </nz-select>
      <ng-template #userErrorTpl let-control>
        <div *ngIf="control.invalid && (control.touched || control.dirty)">
          <div *ngIf="control.errors?.required">
            Please select a user!
          </div>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

</form>
