<h4>Assistance</h4>
<nz-divider></nz-divider>

<nz-tabset nzType="card" [(nzSelectedIndex)]="tabIndex">
  <nz-tab *ngIf="isAdmin" nzTitle="Pending Assistance">
    <app-pending-assistance *ngIf="tabIndex === 0"></app-pending-assistance>
  </nz-tab>
  <nz-tab nzTitle="My Assistance">
    <div *ngIf="isAdmin && tabIndex === 1 || !isAdmin && tabIndex === 0">
      <app-my-assistance></app-my-assistance>
    </div>
  </nz-tab>
  <nz-tab *ngIf="isAdmin" nzTitle="All Assistance">
      <app-all-assistance *ngIf="tabIndex === 2"></app-all-assistance>
  </nz-tab>
  <nz-tab *ngIf="isAdmin" nzTitle="Assistance Category">
    <app-assistance-category-mngmt *ngIf="tabIndex === 3"></app-assistance-category-mngmt>
  </nz-tab>
</nz-tabset>
