<div class="mb-4" style="background: #ECECEC;padding:30px;">
  <nz-card>
    <nz-statistic
      [nzValueTemplate]="valueTpl"
      [nzTitle]="titleTpl"
      [nzPrefix]="alertIconTpl"
    ></nz-statistic>
    <ng-template #titleTpl>
      <p class="fw-bold">Pending Request(s)</p>
    </ng-template>
    <ng-template #valueTpl>
      <p class="fw-bold ms-4">{{assistanceRequests?.length || 0}}</p>
    </ng-template>
    <ng-template #alertIconTpl>
      <div style="display: flex; align-items: center">
        <i nz-icon nzType="alert" nzTheme="outline"></i>
      </div>
    </ng-template>
  </nz-card>
</div>

<nz-space>
  <button nz-button *nzSpaceItem nzType="primary" (click)="openFilterDrawer()">Filter Settings</button>
  <button nz-button nzType="default" *nzSpaceItem (click)="openAddAssistanceModal()">Add assistance</button>
</nz-space>

<br><br>

<nz-drawer
  nzTitle="Filter Data"
  [nzVisible]="filterDrawerIsVisible"
  (nzOnClose)="closeFilterDrawer()"
>
  <ng-container *nzDrawerContent>
    <form [formGroup]="filterForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">Assistance ID</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input formControlName="assistanceId">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-space>
            <button nz-button nzType="primary" *nzSpaceItem (click)="searchByFilter()">Search</button>
            <button nz-button nzType="default" *nzSpaceItem (click)="resetFilterSettings()">Reset</button>
          </nz-space>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>

<app-assistance-table [nzData]="assistanceRequests" [adminInChargeColumnIsVisible]="false" [isLoading]="isLoading"
                      (refreshTableEventEmitter)="refreshTable($event)"></app-assistance-table>

<nz-modal [(nzVisible)]="assistanceFormIsVisible"
          [nzTitle]="'Add New Assistance'"
          (nzOnCancel)="cancelNewAssistance()">
  <div *nzModalContent>
    <app-assistance-form (modalIsVisibleEventEmitter)="modalVisibleHasChange($event)" [addToRequestPool]="true"
                         (refreshListEventEmitter)="listHasChange($event)"></app-assistance-form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelNewAssistance()">Cancel</button>
    <button nz-button nzType="primary" (click)="submitNewAssistance()">Submit</button>
  </div>
</nz-modal>
