<nz-modal [(nzVisible)]="isVisible" [nzTitle]="nzTitle" [nzWidth]="720" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <form nz-form [formGroup]="postForm">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="24" class="fw-bold">Post Description</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="postDescriptionErrorTpl">
          <ckeditor [editorUrl]="EDITOR_URL" [config]="EDITOR_CONFIG" formControlName="postDescription"></ckeditor>
          <p class="mb-0 mt-2 text-end">{{postForm.controls['postDescription'].value?.length || 0}} / 2000</p>
          <ng-template #postDescriptionErrorTpl let-ctrl>
            <ng-container *ngIf="ctrl?.hasError('required')">Please enter post description!</ng-container>
            <ng-container *ngIf="ctrl?.hasError('maxlength')">Please make sure the post description is < 2000 limit.</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">Post Media(s) <i nz-icon nzType="info-circle" nzTheme="outline" class="ms-2" nz-tooltip nzTooltipTitle="Only JPG and PNG are acceptable."></i></nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-upload nzMultiple [nzLimit]="5" nzListType="picture" [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzRemove]="removeFile" [nzAccept]="['image/png', 'image/jpeg']">
            <button nz-button [disabled]="fileList.length >= MAX_FILE_LIMIT">
              <i nz-icon nzType="upload"></i>Select {{ fileList?.length || 0 }} / 5 Images
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button *ngIf="!nzEdit" nz-button nzType="primary" [nzLoading]="isSubmitted" [disabled]="!postForm.valid" (click)="handleOkCreate()">Create</button>
    <button *ngIf="nzEdit" nz-button nzType="primary" [nzLoading]="isSubmitted" [disabled]="(!postForm.touched && !postForm.dirty) || !postForm.valid" (click)="handleOkUpdate()">Update</button>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  </div>
</nz-modal>
