<!--<google-map-->
<!--  height="500px"-->
<!--  width="100%"-->
<!--  [zoom]="zoom"-->
<!--  [center]="center"-->
<!--  [options]="options"-->
<!--&gt;-->
<!--  <map-marker-->
<!--    #markerElem="mapMarker"-->
<!--    *ngFor="let marker of markers"-->
<!--    [position]="marker.position"-->
<!--    [label]="marker.label"-->
<!--    [title]="marker.title"-->
<!--    [options]="marker.options"-->
<!--    (mapClick)="openInfo(markerElem, marker.info)"-->
<!--  >-->
<!--  </map-marker>-->
<!--  <map-info-window>-->
<!--    <form nz-form>-->
<!--      <nz-form-item>-->
<!--        <nz-form-label>Name</nz-form-label>-->
<!--        <nz-form-control>-->
<!--          {{infoContent}}-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->
<!--    </form>-->
<!--  </map-info-window>-->
<!--</google-map>-->

<nz-drawer
  nzTitle="Filter Settings"
  [nzVisible]="queryDrawerIsVisible"
  (nzOnClose)="closeQueryDrawer()"
>
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]="queryForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">Name</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input formControlName="name">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">NRIC No.</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input formControlName="nric">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">Gender</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select formControlName="gender">
            <nz-option [nzLabel]="'All'" [nzValue]="'A'"></nz-option>
            <nz-option [nzLabel]="'Male'" [nzValue]="'M'"></nz-option>
            <nz-option [nzLabel]="'Female'" [nzValue]="'F'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">Ethnic</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select formControlName="ethnic">
            <nz-option [nzLabel]="'All'" [nzValue]="'A'"></nz-option>
            <nz-option [nzLabel]="'Bumiputera'" [nzValue]="'B'"></nz-option>
            <nz-option [nzLabel]="'Chinese'" [nzValue]="'C'"></nz-option>
            <nz-option [nzLabel]="'Indian'" [nzValue]="'I'"></nz-option>
            <nz-option [nzLabel]="'Other'" [nzValue]="'O'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">Disease</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select formControlName="disease">
            <nz-option [nzLabel]="'All'" [nzValue]="'A'"></nz-option>
            <nz-option *ngFor="let choice of diseaseDropdownList" [nzLabel]="choice.text" [nzValue]="choice.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">Zone</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select formControlName="zoneId">
            <nz-option [nzLabel]="'All'" [nzValue]="'A'"></nz-option>
            <nz-option *ngFor="let choice of zoneDropdownList" [nzLabel]="choice.text" [nzValue]="choice.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" class="fw-bold">Account Status</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select formControlName="isActive">
            <nz-option [nzLabel]="'All'" [nzValue]="'A'"></nz-option>
            <nz-option [nzValue]="'Y'" [nzLabel]="'Activated'"></nz-option>
            <nz-option [nzValue]="'N'" [nzLabel]="'Unactivated'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-space>
            <button *nzSpaceItem nz-button nzType="primary" (click)="getCommunityUsers()">Search
            </button>
            <button *nzSpaceItem nz-button nzType="default" (click)="resetQueryForm()">Reset</button>
          </nz-space>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>

<br>

<app-community-user-graph *ngIf="users"
                          [userData]="users"
                          [filterSetting]="queryForm.value"></app-community-user-graph>

<ng-template #titleTpl>
  <nz-row>
    <nz-col [nzSpan]="24" class="text-end">
      <button nz-button nzType="primary" class="me-4" (click)="openQueryDrawer()">Filter</button>
    </nz-col>
  </nz-row>
</ng-template>

<nz-table class="mt-4"
          #userTable
          [nzLoading]="isLoading"
          [nzData]="users"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          [nzScroll]="{x: '1280px'}"
          [nzShowTotal]="totalTpl"
          [nzTitle]="titleTpl"
          nzShowSizeChanger>
  <thead>
  <tr>
    <th nzWidth="60px">No.</th>
    <th nzWidth="140px">Name</th>
    <th nzWidth="140px">NRIC No.</th>
    <th nzWidth="100px">Gender</th>
    <th nzWidth="140px">Ethnic</th>
    <th nzWidth=" 140px">Contact No.</th>
    <th>Address</th>
    <th nzWidth="140px">Account Status</th>
    <th nzWidth="160px">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of userTable.data; let i = index">
    <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
    <td>{{(data?.fullName | titlecase) || "-"}}</td>
    <td>{{data?.nric || "-"}}</td>
    <td>{{data?.gender || "-"}}</td>
    <td>{{(data?.ethnic | ethnic) || "-"}}</td>
    <td>{{data?.contactNo || "-"}}</td>
    <td>{{data?.address?.fullAddress || "-"}}</td>
    <td>
      <nz-tag [nzColor]="'magenta'" *ngIf="data?.accIsActivate === 'Y' && data?.accIsBlocked === 'Y'">Blocked</nz-tag>
      <nz-tag [nzColor]="'green'" *ngIf="data?.accIsActivate === 'Y' && data?.accIsBlocked === 'N'">Activated</nz-tag>
      <nz-tag [nzColor]="'orange'" *ngIf="data?.accIsActivate !== 'Y'">Unactivated</nz-tag>
    <td>
      <button nz-button nz-dropdown [nzClickHide]="false" [nzDropdownMenu]="menu1">
        Actions<i nz-icon nzType="down" nzTheme="outline"></i>
      </button>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item [routerLink]="['/profile']" [queryParams]="{username: data?.username}">View
            Profile
          </li>
        </ul>
      </nz-dropdown-menu>
    </td>
  </tr>
  </tbody>
</nz-table>

<ng-template #totalTpl let-total>
  Total {{ total }} records
</ng-template>
