<!--<google-map-->
<!--  height="500px"-->
<!--  width="100%"-->
<!--  [zoom]="zoom"-->
<!--  [center]="center"-->
<!--  [options]="options"-->
<!--&gt;-->
<!--  <map-marker-->
<!--    #markerElem="mapMarker"-->
<!--    *ngFor="let marker of markers"-->
<!--    [position]="marker.position"-->
<!--    [label]="marker.label"-->
<!--    [title]="marker.title"-->
<!--    [options]="marker.options"-->
<!--    (mapClick)="openInfo(markerElem, marker.info)"-->
<!--  >-->
<!--  </map-marker>-->
<!--  <map-info-window>-->
<!--    <form nz-form>-->
<!--      <nz-form-item>-->
<!--        <nz-form-label>Name</nz-form-label>-->
<!--        <nz-form-control>-->
<!--          {{infoContent}}-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->
<!--    </form>-->
<!--  </map-info-window>-->
<!--</google-map>-->

<nz-table class="mt-4"
          #userTable
          [nzLoading]="isLoading"
          [nzData]="displayData"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          [nzScroll]="{x: '1080px'}"
          nzShowSizeChanger>
  <thead>
  <tr>
    <th nzWidth="60px">No.</th>
    <th nzWidth="140px" nzCustomFilter>
      Name
      <nz-filter-trigger [(nzVisible)]="fullNameFilterIsVisible" [nzActive]="fullNameSearchValue.length > 0"
                         [nzDropdownMenu]="fullNameFilterMenu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th nzWidth="140px">
      NRIC No.
      <nz-filter-trigger [(nzVisible)]="nricFilterIsVisible" [nzActive]="nricSearchValue.length > 0"
                         [nzDropdownMenu]="nricFilterMenu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th nzWidth="100px"
        [nzFilters]="genderColumnItem.listOfFilter"
        [nzFilterFn]="genderColumnItem.filterFn"
        [nzFilterMultiple]="false">
      Gender
    </th>
    <th nzWidth="140px">Ethnic</th>
    <th nzWidth="140px">Contact No.</th>
    <th>Address</th>
    <th nzWidth="140px"
        [nzFilters]="accountStatusColumnItem.listOfFilter"
        [nzFilterFn]="accountStatusColumnItem.filterFn"
        [nzFilterMultiple]="false">Account Status
    </th>
    <th nzWidth="160px">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of userTable.data; let i = index">
    <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
    <td>{{data?.personalDetail?.fullName || "-"}}</td>
    <td>{{data?.personalDetail?.nric || "-"}}</td>
    <td>{{data?.personalDetail?.gender || "-"}}</td>
    <td>{{(data?.personalDetail?.ethnic | ethnic) || "-"}}</td>
    <td>{{data?.personalDetail?.contactNo || "-"}}</td>
    <td>{{generateAddress(data?.address)}}</td>
    <td>
      <nz-tag [nzColor]="'green'" *ngIf="data?.accIsActivate === 'Y'">Activated</nz-tag>
      <nz-tag [nzColor]="'orange'" *ngIf="data?.accIsActivate !== 'Y'">Unactivated</nz-tag>
    <td>
      <button nz-button nz-dropdown [nzClickHide]="false" [nzDropdownMenu]="menu1">
        Actions<i nz-icon nzType="down" nzTheme="outline"></i>
      </button>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item [routerLink]="['/profile']" [queryParams]="{username: data.personalDetail?.username}">View
            Profile
          </li>
        </ul>
      </nz-dropdown-menu>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #fullNameFilterMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <input class="mb-2" type="text" nz-input placeholder="Search name" [(ngModel)]="fullNameSearchValue"/>
    <button nz-button nzSize="small" nzType="primary" (click)="searchFullName()" class="me-2">Search</button>
    <button nz-button nzSize="small" (click)="resetFullName()">Reset</button>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #nricFilterMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <input class="mb-2" type="text" nz-input placeholder="Search NRIC" [(ngModel)]="nricSearchValue"/>
    <button nz-button nzSize="small" nzType="primary" (click)="searchNric()" class="me-2">Search</button>
    <button nz-button nzSize="small" (click)="resetNric()">Reset</button>
  </div>
</nz-dropdown-menu>
