<nz-page-header>
  <nz-page-header-title>
    Community User
  </nz-page-header-title>
</nz-page-header>

<nz-table #fixedTable
          [nzLoading]="isLoading"
          [nzData]="listOfDisplayData"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          [nzScroll]="{x: '1280px', y: '720px'}"
          nzShowSizeChanger>
  <thead>
  <tr>
    <th nzLeft nzWidth="80px">No.</th>
    <th nzLeft
        [nzSortFn]="fullNameColumnItem.sortFn"
        nzCustomFilter>
      Full Name
      <nz-filter-trigger [(nzVisible)]="fullNameFilterIsVisible" [nzActive]="fullNameSearchValue.length > 0" [nzDropdownMenu]="fullNameFilterMenu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th>
      NRIC no.
      <nz-filter-trigger [(nzVisible)]="nricFilterIsVisible" [nzActive]="nricSearchValue.length > 0" [nzDropdownMenu]="nricFilterMenu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th>Email</th>
    <th [nzFilters]="accountStatusColumnItem.listOfFilter"
        [nzFilterFn]="accountStatusColumnItem.filterFn"
        [nzFilterMultiple]="false">
      Account Status
    </th>
    <th nzRight nzWidth="120px" class="text-center">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of fixedTable.data, let i = index">
    <td nzLeft>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
    <td nzLeft>{{ data?.fullName | uppercase }}</td>
    <td>{{ data?.nricNo || '-' }}</td>
    <td>{{ data?.email || '-' }}</td>
    <td>
      <nz-tag [nzColor]="'green'" *ngIf="data?.isActive === 'Y'">Activated</nz-tag>
      <nz-tag [nzColor]="'orange'" *ngIf="data?.isActive !== 'Y'">Unactivated</nz-tag>
    <td nzRight class="text-center">
    <button nz-button nzSize="small" nz-dropdown [nzClickHide]="false" [nzDropdownMenu]="menu1">
      <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
    </button>
    <nz-dropdown-menu #menu1="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item [routerLink]="['/community-user/profile']" [queryParams]="{username: data.username}">View User Profile</li>
        <li nz-menu-item nz-popconfirm [nzPopconfirmTitle]="'Are you sure you want to delete ' + data?.fullName + '\'s account?'" (nzOnConfirm)="deleteUser(data.username)">Delete User</li>
      </ul>
    </nz-dropdown-menu>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #fullNameFilterMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <input class="mb-2" type="text" nz-input placeholder="Search name" [(ngModel)]="fullNameSearchValue"/>
    <button nz-button nzSize="small" nzType="primary" (click)="searchFullName()" class="me-2">Search</button>
    <button nz-button nzSize="small" (click)="resetFullName()">Reset</button>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #nricFilterMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <input class="mb-2" type="text" nz-input placeholder="Search NRIC" [(ngModel)]="nricSearchValue"/>
    <button nz-button nzSize="small" nzType="primary" (click)="searchNric()" class="me-2">Search</button>
    <button nz-button nzSize="small" (click)="resetNric()">Reset</button>
  </div>
</nz-dropdown-menu>
