<div *ngIf="isVisible">
  <nz-alert nzType="info" nzShowIcon class="mb-4" [nzMessage]="infoTitleTpl" [nzDescription]="infoDescTpl"></nz-alert>
  <h4 nz-typography><u>Steps to Register a CHIS account</u></h4>
  <ol>
    <li>Please fill up necessary details.</li>
    <li>If the form is valid, it will be submitted. Otherwise, an error notification will be displayed. Please ensure that your form is valid.</li>
    <li>If the form is submitted successfully, please schedule an appointment with the admin
      to review your submission. Once everything is verified, admin will approve your submission and activate your
      account.
    </li>
  </ol>
</div>

<ng-template #infoTitleTpl>
  <h4 nz-typography>Appointment Module is Under Development</h4>
</ng-template>

<ng-template #infoDescTpl>
  <p nz-typography>Please note that the appointment module is still under development. After submitting your form
    successfully, please make an appointment with us through phone call @ <span class="fw-bold">05-805 4564</span> to review your submitted occupation and health
    details. We're sorry for any inconvenience caused.</p>
</ng-template>
